backend/venv/
backend/__pycache__/
backend/*.pyc
backend/training_data.csv
sprintiq/node_modules/
sprintiq/dist/
sprintiq/.vite/
node_modules
dist
dist-ssr
*.local
*.log
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.egg-info/
